---
const { pageTitle } = Astro.props;
const pages = [
    {
        path: "/",
        name: "Home",
    },
    {
        path: "/research",
        name: "Research",
        routes: [
            {
                path: "/health",
                name: "Health",
            },
            {
                path: "/environment",
                name: "Environment",
            },
            {
                path: "/adhesion",
                name: "Adhesion",
            },
        ],
    },
    {
        path: "/publications",
        name: "Publications",
    },
    {
        path: "/about",
        name: "About",
    },
];
const currentPageBgColor = "text-slate-200 bg-slate-600 rounded";
const currentPageColor = "";
const hoverTextColor = "hover:text-slate-600";
---

<nav class="w-full basis-3/4 pt-5">
    <ul class="flex flex-col">
        {
            pages.map((page) => {
                {
                    if (page.routes) {
                        return (
                            <>
                                <li
                                    class:list={[
                                        `flex mt-1 rounded-t ${hoverTextColor}
                                        ${
                                            page.name === pageTitle
                                                ? currentPageBgColor
                                                : "bg-slate-300"
                                        }`,
                                    ]}>
                                    <a
                                        class="flex grow p-2 text-xl font-bold"
                                        href={page.path}>
                                        {page.name}
                                    </a>
                                </li>
                                <ul>
                                    {page.routes.map((route) => (
                                        <li
                                            class:list={[
                                                `flex pl-5 last-of-type:rounded-b last-of-type:mb-1 ${hoverTextColor}
                                                ${
                                                    route.name === pageTitle
                                                        ? currentPageBgColor
                                                        : "bg-slate-300"
                                                }`,
                                            ]}>
                                            <a
                                                class="flex grow p-2 text-l font-bold"
                                                href={page.path + route.path}>
                                                &bull; {route.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </>
                        );
                    } else {
                        return (
                            <li
                                class:list={[
                                    `flex mt-1 rounded ${hoverTextColor} ${
                                        page.name === pageTitle
                                            ? currentPageBgColor
                                            : "bg-slate-300"
                                    }`,
                                ]}>
                                <a
                                    class="flex grow p-2 text-xl font-bold"
                                    href={page.path}>
                                    {page.name}
                                </a>
                            </li>
                        );
                    }
                }
            })
        }
    </ul>
</nav>
