---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
/* CSS colors */
const bgColorMain = "bg-white";
const bgColorAside = "bg-neutral-100";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Olivier Tramis - {pageTitle}</title>
    </head>
    <body class="flex">
        <aside
            class=`flex flex-col basis-1/5 items-center min-w-[200px] px-4 border-r border-zinc-500 ${bgColorAside}`>
            <section class="flex flex-col basis-1/4 justify-evenly w-full">
                <h1 class="text-3xl text-center font-bold">Olivier Tramis</h1>
                <p class="text-xl text-center font-bold">
                    International researcher
                </p>
                <p class="text-xl text-center font-bold" lang="ja">
                    <bdi>姓名: オリヴィエ.トラミス</bdi>
                </p>
                <!-- <img src={einstein} alt="Alber Einstein" class="" /> -->
                <ul class="flex flex-col justify-center">
                    <li>
                        <a
                            class="flex flex-row items-center"
                            href="mailto:olivier.tramis@outlook.fr">
                            <img src="/assets/icon-mail.svg" alt="Mail Icon" />
                            Mail
                        </a>
                    </li>
                    <li>
                        <a
                            class="flex flex-row items-center rounded hover:bg-slate-200"
                            href="https://www.linkedin.com/in/otramis-012121985/">
                            <img
                                src="/assets/icon-linkedin.svg"
                                alt="LinkedIn Icon"
                            />
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </section>
            <Navigation {pageTitle} />
        </aside>

        <main class=`flex flex-col basis-4/5 ${bgColorMain}`>
            <section class="flex flex-col items-start p-4">
                <!-- Pages content goes here / Astro.props comes from here -->
                <slot />
            </section>
        </main>
    </body>
</html>
