---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
/* CSS colors */
const colorTheme =
    "text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-zinc-800";
---

<html class="" lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Olivier Tramis - {pageTitle}</title>
    </head>
    <body class="flex">
        <aside
            id="aside-menu"
            class=`hidden max-sm:sticky max-sm:top-0 md:flex md:flex-col basis-1/5 items-center md:min-w-[200px] px-4 border-r border-zinc-500 ${colorTheme}`>
            <section class="flex flex-col justify-start w-full">
                <img
                    class="hidden z-20 absolute top-3 left-3 fill-zinc-800 dark:fill-zinc-300"
                    id="close-icon"
                    src="/assets/icon-menu-close.svg"
                    alt="Close icon"
                    width="25"
                />
                <h1 class="text-3xl text-center font-bold my-2">
                    <a href="/">Olivier Tramis</a>
                </h1>
                <p class="text-xl text-center font-bold">
                    International researcher
                </p>
                <p class="text-xl text-center font-bold my-2" lang="ja">
                    <bdi>姓名: オリヴィエ.トラミス</bdi>
                </p>
                <!-- <img src={einstein} alt="Alber Einstein" class="" /> -->
                <ul class="flex flex-col justify-center">
                    <li>
                        <a
                            class="flex flex-row items-center rounded hover:bg-zinc-200 dark:hover:bg-zinc-600"
                            href="mailto:olivier.tramis@outlook.fr">
                            <img src="/assets/icon-mail.svg" alt="Mail Icon" />
                            Mail
                        </a>
                    </li>
                    <li>
                        <a
                            class="flex flex-row items-center rounded hover:bg-zinc-200 dark:hover:bg-zinc-600"
                            href="https://www.linkedin.com/in/otramis-012121985/">
                            <img
                                src="/assets/icon-linkedin.svg"
                                alt="LinkedIn Icon"
                            />
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </section>
            <Navigation {pageTitle} {colorTheme} />
        </aside>

        <main class=`flex flex-col w-full md:flex-col ${colorTheme}`>
            <nav class="flex sm:hidden sticky top-3 ml-3">
                <img
                    class=""
                    id="menu-icon"
                    src="/assets/icon-menu-open.svg"
                    alt="Menu icon"
                    width="25"
                />
            </nav>
            <section class="flex flex-col items-start w-full h-full p-4">
                <!-- Pages content goes here / Astro.props comes from here -->
                <slot />
            </section>
        </main>
    </body>
    <script>
        const asideMenu = document.getElementById("aside-menu");
        const menuIcon = document.getElementById("menu-icon");
        const closeIcon = document.getElementById("close-icon");
        menuIcon.addEventListener("click", () => {
            asideMenu.classList.remove("hidden");
            menuIcon.classList.add("hidden");
            closeIcon.classList.remove("hidden");
        });
        closeIcon.addEventListener("click", () => {
            asideMenu.classList.add("hidden");
            menuIcon.classList.remove("hidden");
            closeIcon.classList.add("hidden");
        });
    </script>
</html>
